.notshown { display: none; }

.mt-xs { margin-top: 5px   !important; }
.mt-ms { margin-top: 10px  !important; }
.mt-s  { margin-top: 15px  !important; }
.mt-m  { margin-top: 25px  !important; }
.mt-l  { margin-top: 50px  !important; }
.mt-xl { margin-top: 100px !important; }

.mr-xs { margin-right: 5px    !important; }
.mr-s  { margin-right: 15px   !important; }
.mr-m  { margin-right: 25px   !important; }
.mr-l  { margin-right: 50px   !important; }
.mr-xl { margin-right: 100px  !important; }

.mb-xs { margin-bottom: 5px   !important; }
.mb-s  { margin-bottom: 15px  !important; }
.mb-m  { margin-bottom: 25px  !important; }
.mb-l  { margin-bottom: 50px  !important; }
.mb-xl { margin-bottom: 100px !important; }

.ml-xs { margin-left: 5px     !important; }
.ml-s  { margin-left: 15px    !important; }
.ml-m  { margin-left: 25px    !important; }
.ml-l  { margin-left: 50px    !important; }
.ml-xl { margin-left: 100px   !important; }

.pt-xs { padding-top: 5px     !important; }
.pt-s  { padding-top: 15px    !important; }
.pt-m  { padding-top: 25px    !important; }
.pt-l  { padding-top: 50px    !important; }
.pt-xl { padding-top: 100px   !important; }

.pr-xs { padding-right: 5px     !important; }
.pr-s  { padding-right: 15px    !important; }
.pr-m  { padding-right: 25px    !important; }
.pr-l  { padding-right: 50px    !important; }
.pr-xl { padding-right: 100px   !important; }

.pb-xs { padding-bottom: 5px     !important; }
.pb-s  { padding-bottom: 15px    !important; }
.pb-m  { padding-bottom: 25px    !important; }
.pb-l  { padding-bottom: 50px    !important; }
.pb-xl { padding-bottom: 100px   !important; }

.pl-xs { padding-left: 5px     !important; }
.pl-s  { padding-left: 15px    !important; }
.pl-m  { padding-left: 25px    !important; }
.pl-l  { padding-left: 50px    !important; }
.pl-xl { padding-left: 100px   !important; }

.p-xs { padding: 5px     !important; }
.p-s  { padding: 15px    !important; }
.p-m  { padding: 25px    !important; }
.p-l  { padding: 50px    !important; }
.p-xl { padding: 100px   !important; }

body {
	background: url("swirl_pattern.png");
}

.main {
	background-color: #fff;
	margin-top: 100px;
	padding: 25px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 5px 12px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 5px 12px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 5px 12px 0px rgba(50, 50, 50, 0.2);
}

.ytLogo {
	height: 40px;
	margin-right: 10px;
}

.title {
	font-size: 35px;
	vertical-align: middle;
}

.videoTitle {
	font-size: 17px;
	vertical-align: middle;
}

.loader {
	width: 50px;
}
